* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

*,
::after,
::before {
    box-sizing: border-box;
}

br {
    display: none
}

::selection {
    background: #fd6565;
}

::-moz-selection {
    background: #fd6565;
}

::-moz-selection {
    background-color: #fd6565;
}

::-webkit-scrollbar {
    position: absolute;
    width: 8px;
    /* Ширина ползунка */
    background-color: rgba(0, 0, 0, 0.124);
    /* Прозрачный фон */
}

/* Кастомный стиль ползунка */
::-webkit-scrollbar-thumb {
    background-color: #fd6565;
    /* Прозрачный фон */
}

/* Кастомный стиль ползунка при наведении */
::-webkit-scrollbar-thumb:hover {
    background-color: #cc4a4a
        /* Прозрачный фон с небольшой непрозрачностью при наведении */
}

input[type="text"],
input[type="number"],
textarea,
select {
    outline: none;
    border-color: #0e0e0e;
}

menu,
ol,
ul {
    list-style: none;
}

p,
a,
h1,
h2,
h3 {
    text-decoration: none;
}

.overflow-hidden {
    overflow: hidden;
}

html {
    height: 100%;
    overflow-x: hidden;
    background: #f7fafc;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-family: 'Montserrat', sans-serif;
}

.backgroud-gif {

    opacity: 0.05;
    background-position: center center;

    -webkit-text-size-adjust: 100%;
    border-color: transparent;
    border-style: solid;

    background-size: auto !important;
    background-repeat: repeat !important;
    pointer-events: none;

    width: 100%;
    height: 100%;

    position: fixed;
    z-index: -1;

    background-image: url(https://static.tildacdn.com/tild3738-3139-4634-a161-363234313963/noise.gif);
}

.header {
    width: 100%;
    min-height: 110px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    background-color: #fff;
}

.header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    position: fixed;
}

.wrapper {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-bottom: 6px;
}

.header__logo {
    height: auto;
    margin: 0 15px 0 45px;
    width: auto;
    display: flex;
}

.header__logo-img {
    width: 150px;

}

.nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-wrapper {
    flex-grow: 1;
    z-index: 9999;
    display: flex;
}

.nav__list {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    -ms-overflow-style: none;
    width: 100%;
    padding: 5px 0 5px 0;
}

.nav__item {
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 7px;
}

.nav__link {
    font-weight: 600;
    margin: 0 15px;
    font-size: 17px;
    color: #0e0e0e;
}

.nav__link:hover {
    color: #fd6565;
}

.lang {
    position: absolute;
    right: 15px;
}

.nav-mobile-menu {
    height: 26px;
    width: 36px;
    display: none;
}

.mobile-menu__icon {
    height: 25px;
    width: 36px;
    background: url("../images/icon-menu.svg") no-repeat center;
    background-size: 100%;
}

.mobile-menu-side {
    background: #f7fafc;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: -1;
    padding: 0 20px 0 20px;
}

.mobile-menu__wrapper {
    flex-grow: 1;
    z-index: 50;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    width: 100%;
    z-index: 3;
    top: 56px;
    height: 100vh;
}

.mobile-menu-side--hidden {
    display: none;
}

.mobile-menu {
    height: 26px;
    width: 36px;
    display: none;
}

.menu__button {
    height: 20px;
    width: 36px;
    z-index: 9999;
}

.nav__link--mobile {
    color: #0e0e0e;
    font-size: 42px;
    font-weight: 600;
}

#container {
    z-index: -1;
}

.main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.main__screen {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 50px 0 50px;
    margin: 23vw 0 -100px 0;
}

.main__screen-wrapper {
    display: flex;
    align-items: center;
    height: 450px;
}


.background_logo {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.background_logo-image {
    width: 36vw;
    left: 10vw;
    position: absolute;
    opacity: .03;
    margin-bottom: 10vw;
}

.company-screen {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.company-screen__text {
    font-size: 3.2vw;
    font-weight: 600;
}

.company-screen__block {
    width: 15vw;
    height: 4.5vw;
    border-radius: 100px;
    background-color: #0e0e0e;
    display: flex;
    justify-content: center;
}

.company-screen__block-text {
    color: #f7fafc;
    font-size: 3.2vw;
    font-weight: 600;
}

.picture-screen {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.circle__block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.circle {
    z-index: 10;
    animation: 30s linear 0s normal none infinite running rot;
    -webkit-animation: 30s linear 0s normal none infinite running rot;
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.picture-screen__computer {
    width: 37vw;
}


.video__frame {
    padding: 160px 160px 0 160px;
    object-fit: contain;
    background-color: #0e0e0e;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    border-radius: 10px;
}

.websites__pack {
    max-width: 100vw;
    height: auto;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 50px 100px 100px 100px;
    background-color: #0e0e0e;
}

.websites__title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.websites__text {
    color: #f7fafc;
    font-size: 3rem;
    margin-left: 3vw;
    font-weight: 600;
}

.pack-item {
    flex-basis: 33.3333333333%;
}

.pack-item__inner {
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.pack-item__content {
    min-width: 100%;
    max-width: 100%;
}

.pack-item__picture {
    min-width: 100%;
    max-width: 100%;
    min-height: 300px;
    max-height: 400px;
    transition: 200ms ease all;
}

.pack-item__picture:hover {
    scale: 1.1;
}

.pack-item__title {
    color: #f7fafc;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.pack-item__text {
    word-break: break-word;
    max-width: 100%;
    width: 100%;
    color: #575757;
    font-size: 16px;
    line-height: 20px;
    margin-top: 6px;
    font-weight: 500;
}

.blockchain {
    padding-bottom: 120px;
    padding-top: 120px;
    max-width: 1280px;
    -webkit-margin-start: auto;
    margin-inline-start: auto;
    -webkit-margin-end: auto;
    margin-inline-end: auto;

}

.blockchain__title {
    color: #fff;
    max-width: 760px;
    -webkit-margin-start: auto;
    margin-inline-start: auto;
    -webkit-margin-end: auto;
    margin-inline-end: auto;
    text-align: center;
    margin-bottom: 56px;
}

.main__text {
    text-align: center;
    font-weight: 700;
    letter-spacing: -0.015em;
    line-height: 1.24;
    font-size: 3rem;
    margin-bottom: 1em;
    color: #0e0e0e;
}

.second__text {
    opacity: 0.7;
    font-size: 1rem;
    font-weight: 400;
    color: #0e0e0e;
}

.blockchain__block {
    display: grid;
    grid-gap: 3em;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 20px 0 20px;
}

.blockchain-item {
    background: #0e0e0e;
    border-radius: 12px;
    box-shadow: 0px 0px 10px -3px rgba(34, 60, 80, 0.2);
    padding: 40px;
}

.blockchain-item__picture {
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    background: #272727;
}

.blockchain-item__title {
    color: #fff;
    font-size: 1.3em;
    line-height: 1.2;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.blockchain-item__text {
    font-size: 1em;
    opacity: 0.7;
    color: #fff;
    word-spacing: 4px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #0e0e0e;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.email_block {
    height: 60px;
    color: #f7fafc;
    width: 100%;
}

.email_text {
    font-size: 1.3em;
}

.phone_block {
    height: 60px;
    width: 230px;
    color: #f7fafc;
    width: 100%;
}

.phone_text {
    font-size: 1.3em;
}

.copyright {
    color: #f7fafc;
    height: 55px;
    display: flex;
    align-items: flex-end;
}

.phone_number {
    color: #ffffff;
}


@media (max-width: 1023px) {

    .video__frame {
        padding: 100px 100px 0 100px;
    }

    .logo-container {
        align-items: flex-start;
    }

    .nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
    }

    .nav__list {
        display: none;
    }

    .lang {
        display: none;
    }

    .header__logo {
        margin: 0 15px 0 25px;
    }

    .mobile-menu {
        display: block;
    }

    .header-nav {
        justify-content: flex-end;
    }

    .header__logo {
        z-index: 9999;
    }

    .pack-item__picture {
        min-height: 200px;
    }

    .blockchain-item {
        padding: 25px;
    }

}



@media (max-width: 768px) {

    .nav__link--mobile {
        margin: 0;
    }

    .main__screen {
        width: 100%;
        height: 85vh;
        display: flex;
        padding: 100px 0 0 0;
        margin-top: 320px;

    }

    .main__screen-wrapper {
        flex-direction: column-reverse;
    }

    .company-screen__logo {
        width: 100%;
    }

    .company-screen__text {
        font-size: 2.5rem;
    }

    .blockchain__block {
        grid-template-columns: repeat(1, 1fr);
    }

    .picture-screen__computer {
        width: 60vw;

    }

    .picture-screen__circle {
        width: 30%;
        left: 58vw;
        bottom: 22vw;
    }

    .company-screen__block {
        width: 8rem;
        height: 3rem;
    }

    .company-screen__block-text {
        font-size: 2rem;
        position: relative;
        top: 0.1rem;
    }

    .background_logo-image {
        width: 28rem;
        left: auto;
    }

    .video__frame {
        padding: 50px 50px 0 50px;
    }

    .websites__pack {
        padding: 30px;
    }

    .pack-item {
        flex-basis: 50%;
    }

    .pack-item__picture {
        min-height: 200px;
    }

    .websites__text {
        font-size: 50px;
    }

    .icon__svg {
        width: 50px;
    }

    .blockchain__block {
        grid-template-columns: repeat(2, 1fr);
    }

    .blockchain-item {
        padding: 40px;
    }

}



@media (max-width: 570px) {

    .blockchain__block {
        grid-template-columns: repeat(1, 1fr);
    }

    .picture-screen__computer {
        width: 80vw;

    }

    .picture-screen__circle {
        left: 76vw;
        bottom: 29vw;
    }

    .company-screen__text {
        font-size: 1.5rem;
    }

    .main__text {
        font-size: 2rem;
    }

    .blockchain {
        padding-bottom: 60px;
    }

    .pack-item__title {
        font-size: 15px;
    }

    .pack-item__text {
        font-size: 13px;
        padding: 0 10px 0 0px;
    }

    .company-screen__block-text {
        font-size: 1.5rem;
        top: 0rem;
    }

    .company-screen__block {
        width: 6rem;
        height: 2rem;
    }

    .background_logo-image {
        width: 17rem;
        left: auto;
        opacity: .05;
    }

    .blockchain-item {
        padding: 40px;
    }

}



@media (max-width: 425px) {

    .header {
        min-height: 85px;
    }

    .header__logo {
        margin: 0 15px 0 0;
    }

    .main__screen {
        width: 100%;
        height: 85vh;
        display: flex;
        padding: 100px 50px 0 50px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .picture-screen {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .company-screen {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 30px;
    }

    .company-screen__text {
        font-size: 1.6em;
    }

    .picture-screen__computer {
        width: 90vw;
    }

    .picture-screen__circle {
        width: 30%;
        left: 90vw;
        bottom: 34vw;
    }

    .video__frame {
        padding: 0 25px 0 25px;
        margin-top: 50px;
    }

    .websites__text {
        font-size: 2rem;
    }

    .pack-item {
        flex-basis: 100%;
        margin-top: 50px;
    }

    .pack-item__picture {
        scale: 1.2;
    }

    .pack-item__text {
        font-size: 1rem;
    }

    .bot {
        scale: 1;
    }

    .blockchain {
        padding-bottom: 60px;
        padding-top: 60px;
    }

    .video__frame {
        padding: 50px 25px 0 25px;
    }

    .form__input {
        font-size: 15px;
    }

    .background_logo-image {
        top: 100vw;
    }

    .blockchain-item {
        padding: 40px;
    }

}



@media (max-width: 375px) {
    
    .company-screen__logo {
        width: 90%;
    }

    .pack-item__picture {
        scale: 1.2;
    }

    .main__text {
        font-size: 1.8em;
    }

    .second__text {
        font-size: .9em;
    }

    .blockchain {
        padding-top: 60px;
    }

}



@media (max-width: 320px) {

    .main__text {
        font-size: 1.6em;
    }

    .second__text {
        font-size: .7em;
    }

    .form__button {
        font: 500 1rem/3 'Montserrat', sans-serif;
    }

    .blockchain__block {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 10vw 0 10vw;
    }

    .blockchain-item {
        padding: 20px;
    }

}